{% load custom_filters %}
{% with state_class=treatment|treatment_state_class type_icon=treatment|treatment_type_icon %}
<a class="text-decoration-none" href="{% url 'treatment-detail' treatment.id %}">
    <div class="dashboard-treatment-row dashboard-treatment-row--{{ state_class }}">
        <div class="dashboard-treatment-icon bg-{{ state_class }} bg-opacity-10">
            <i class="fa fa-{{ type_icon }} text-{{ state_class }}"></i>
        </div>
        <div class="dashboard-treatment-info">
            <div class="dashboard-treatment-name">{{ treatment.name }}</div>
            <div class="dashboard-treatment-meta">
                <span><i class="fa fa-map me-1 opacity-50"></i>{{ treatment.field.name }}</span>
                <span class="mx-1 opacity-25">·</span>
                <span><i class="fa fa-calendar me-1 opacity-50"></i>{{ treatment.date|date:"d/m/Y" }}</span>
            </div>
        </div>
        <div class="dashboard-treatment-status">
            <span class="badge bg-{{ state_class }}">{{ treatment.date_status_display }}</span>
        </div>
        <i class="fa fa-chevron-right dashboard-treatment-arrow text-{{ state_class }} opacity-50"></i>
    </div>
</a>
{% endwith %}
