<!DOCTYPE html>
<html class="{% if sidebar_collapsed %}sidebar-collapsed{% endif %}" lang="es">
<head>
    {% load django_bootstrap5 %}
    {% load static %}

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}AgroGest{% endblock %}</title>

    <!-- Use our custom Bootstrap theme instead of the default -->
    <link href="{% static 'css/custom-bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/new-treatment-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert2-custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/choices-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/tables.css' %}" rel="stylesheet">
    <link href="{% static 'css/smart-select.css' %}" rel="stylesheet">

    {% block extra_head %} {% endblock %}
</head>
<body>

{% block base_content %} {% endblock %}

{% bootstrap_javascript %}
<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales/es.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.15/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="{% static 'js/smart-select.js' %}"></script>

{% block base_extra_js %} {% endblock %}
</body>
</html>
