<!-- Footer -->
<footer class="py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <h5 class="fw-bold mb-3"><i class="bi bi-flower1 me-2"></i>AgroGest</h5>
                <p>Simplificando la gestión de tratamientos agrícolas</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="text-white-50 mb-0">Desarrollado por
                    <a class="text-white text-decoration-none" href="https://github.com/carborgar" target="_blank">@carborgar</a>
                    con <i class="bi bi-heart-fill text-danger"></i></p>
                <div class="py-2">
                    <a class="social-icon" href="https://github.com/carborgar" target="_blank"><i
                            class="fa-brands fa-github"></i></a>
                    <a class="social-icon" href="https://www.linkedin.com/in/carlosborja93/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <small class="text-white-50">© 2025 AgroGest. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>
