<!-- Sidebar menu para escritorio -->
<div class="desktop-sidebar d-none d-lg-flex {% if sidebar_collapsed %}compact{% endif %}">
    <div class="sidebar-content">
        <div class="sidebar-logo">
            <a class="logo-link disabled" href="#">
                <i class="bi bi-flower1"></i>
            </a>
            <span class="logo-text">AgroGest</span>
        </div>

        {% with request.resolver_match.url_name as current_url %}
        {% with home_menus='field_list' %}
        {% with treatments_menus='treatment-list treatment-create treatment-detail' %}
        {% with calendar_menus='treatment-calendar' %}
        {% with field_costs_menus='field_costs' %}
        
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link {% if current_url in home_menus %}active{% endif %}"
                   href="{% url 'field_list' %}">
                    <i class="fa fa-house"></i>
                    <span class="link-text">Inicio</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link {% if current_url in treatments_menus %}active{% endif %}"
                   href="{% url 'treatment-list' %}">
                    <i class="fa fa-droplet"></i>
                    <span class="link-text">Tratamientos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link {% if current_url in calendar_menus %}active{% endif %}"
                   href="{% url 'treatment-calendar' %}">
                    <i class="fa fa-calendar-days"></i>
                    <span class="link-text">Calendario</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link {% if current_url in field_costs_menus %}active{% endif %}"
                   href="{% url 'field_costs' %}">
                    <i class="fa fa-coins"></i>
                    <span class="link-text">Gastos</span>
                </a>
            </li>

            <li class="sidebar-item mt-auto toggle-btn-container">
                <button class="toggle-sidebar-btn" id="sidebar-collapse-btn">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </li>

        </ul>

        <div class="sidebar-footer">
            {% if user.is_authenticated %}
            <div class="user-menu dropup">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                    <div class="user-avatar">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="user-info">
                        <span class="user-name">{{ user.username }}</span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-person me-2"></i>Perfil</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-2"></i>Configuración</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit"><i class="bi bi-box-arrow-right me-2"></i>Cerrar
                                sesión
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            {% else %}
            <!--<a class="btn btn-light w-100" href="#"><i class="bi bi-box-arrow-in-right me-2"></i>Iniciar Sesión</a>-->
            {% endif %}
        </div>
    </div>
</div>

<!-- Botón flotante de menú -->
<button class="floating-menu-btn" id="fullMenuToggle">
    <i class="bi bi-grid-3x3-gap-fill fs-4"></i>
</button>

<!-- Menú Completo -->
<div class="full-menu" id="fullMenu">
    <div class="menu-grid container">
        <div class="row g-4 mt-3">
            <div class="col-4 text-center text-truncate">
                <a class="text-decoration-none text-dark"
                   href="{% url 'field_list' %}">
                    <div class="p-3 bg-light rounded-3 full-menu-item {% if current_url in home_menus %}active{% endif %}">
                        <i class="fa fa-house fs-2"></i>
                        <p class="mt-2">Inicio</p>
                    </div>
                </a>
            </div>

            <div class="col-4 text-center text-truncate">
                <a class="text-decoration-none text-dark"
                   href="{% url 'treatment-list' %}">
                    <div class="p-3 bg-light rounded-3 full-menu-item {% if current_url in treatments_menus %}active{% endif %}">
                        <i class="fa fa-droplet fs-2"></i>
                        <p class="mt-2">Tratamientos</p>
                    </div>
                </a>
            </div>

            <div class="col-4 text-center text-truncate">
                <a class="text-decoration-none text-dark"
                   href="{% url 'treatment-calendar' %}">
                    <div class="p-3 bg-light rounded-3 full-menu-item {% if current_url in calendar_menus %}active{% endif %}">
                        <i class="fa fa-calendar-days fs-2"></i>
                        <p class="mt-2">Calendario</p>
                    </div>
                </a>
            </div>

            <div class="col-4 text-center text-truncate">
                <a class="text-decoration-none text-dark"
                   href="{% url 'field_costs' %}">
                    <div class="p-3 bg-light rounded-3 full-menu-item {% if current_url in field_costs_menus %}active{% endif %}">
                        <i class="fa fa-coins fs-2"></i>
                        <p class="mt-2">Gastos</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    <div class="full-menu-close-container">
        <button class="bottom-close-btn" id="fullMenuClose">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>

</div>
